
.table-container  {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 144px;
    margin-top: 144px; /* TODO: REMOVE AFTER TITLE COMPONENT IS DONE */
    padding: 32px;
    background-color: var(--color-white);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: var(--color-text-primary);
  font-size: var(--font-size-xl);
}

.table th,
.table td {
  padding: 12px;
  text-align: left; /* or right/center depending on your needs */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  border-bottom: 2px solid #ddd;
  /* background-color: var(--color-bg-secondary); */
  /* color: var(--color-white); */
}

.table tr:nth-child(even) {
  background-color: var(--color-gray-light)
}
